[Unit]
Description=Radarr Daemon
After=syslog.target network.target

[Service]
User=1000
Group=1000

Type=simple
ExecStart=/usr/bin/mono --debug /opt/Radarr/Radarr.exe -nobrowser -data=/opt/Radarr
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
